h1 {
    text-align: center;
    color: white;
    font-size: 7vh;
    background: #3772FF;
}
body {
    background: #12130f;
    color: white;
}
body div {
    border: #175af5 solid 10px;
    margin: 0 10vw;
}
h2 {
    text-align: center;
    font-size: 6vh;
    
}
img {
    height: 40vh;
    width: 60vw;
    object-fit: contain;
    display: block;
    margin: 5vh auto;
}
a {
    color: white;
    background: #0e3eaf;
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
}