h1 {
    text-align: center;
    color: white;
    font-size: 7vh;
    background: #0748e1;
}
body {
    background: #12130f;
    color: white;
}

#userTurn {
    display: flex;
    flex-direction: row;
    align-content: center;
    margin: 10px;
    padding: 10px;
}
#reset {
    font-size: 4vh;
    color: white;
    background: #0748e1;
    border: white solid 10px;
    border-radius: 10px;
    width: 15vw;
    text-align: center;
    font: bold;
    margin: 20px auto;
    padding: 10px;
}
#message {
    color: white;
    background: #0748e1;
    font-size: 3vh;
    padding: 10px;
    width: 30vw;
    border: white solid 10px;
    border-radius: 10px;
    text-align: center;
    font: bold;
}
#userTurn p {
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    font: bold;
}
#player {
    font-size: 4vh; 
    width: 15vw;  
}
#arrowIcons {
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 65vw;
    margin: 2vh auto;
}
.arrow {
    height: 100px;
    width: 100px;
    display: block;
    margin: auto;
    object-fit: contain;
    filter: brightness(30%);
}
#gameBoard {
    background-color: #0748e1;  
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 50vh;
    width: 65vw;
    margin: 0 auto;
    padding: 1%;
    border: solid #12130f 10px;
    border-radius: 20px;;
}
#gameBoard img {
    height: 80%;
    width: 80%;
    display: block;
    margin: auto;
    object-fit: contain;
}
.slot {
    transition-duration: 100ms;
}

