h1 {
    text-align: center;
    color: white;
}
body {
    background: #12130f;
    color: white;
}
#userTurn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#gameBoard {
    background: #07004D;  
    display: grid;
    grid-template-rows: ;
}