h1 {
    text-align: center;
    color: white;
    font-size: 7vh;
    background: #3772FF;
}
body {
    background: #12130f;
    color: white;
}
#userTurn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#userTurn p {
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}
#message {
    color: black;
    background: white;
    font-size: 3vh;
    width: 30vw;
    border: grey solid 5px;
    border-radius: 10px;
}
#player {
    font-size: 4vh; 
    width: 20vw;  
}
#arrowIcons {
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 75vw;
    margin: 2vh auto;
}
.arrow {
    height: 100px;
    width: 100px;
    display: block;
    margin: auto;
    object-fit: contain;
    filter: brightness(20%);
}
#gameBoard {
    background-color: #3772FF;  
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 50vh;
    width: 75vw;
    margin: 0 auto;
    padding: 1%;
    border: solid #12130f 10px;
    border-radius: 20px;;
}
#gameBoard img {
    height: 75%;
    width: 75%;
    display: block;
    margin: auto;
    object-fit: contain;
}
.slot {
    transition-duration: 100ms;
}

